#message-form-container {
	height: 100%;
	width: 100%;
	background-color: #1a1d21;
}

#message-form {
	height: auto;
	width: auto;

	margin: 0;
	padding: 0;

	display: grid;
	align-items: center;
	grid-template-rows: 4rem auto;

	padding-bottom: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding: 1rem;

	position: relative;
	border-radius: 0.25rem;
	border: none;
}

#message-textarea-figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

#message-field {
	height: 100%;
	width: 100%;
	resize: none;
	margin: 0;
	padding: 0;
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	background-color: #222529;
	border-radius: 0.5rem;
	color: rgba(255, 255, 255, 0.6);
}

#message-field:focus {
	outline: none;
}

#message-button-figure {
	margin: 0;
	padding: 0;
	margin-left: 0.5rem;

	border: none;
	width: 99%;

	display: flex;
	justify-content: flex-end;
}

#message-button {
	border: none;
	padding: 0.25rem;

	display: flex;
	justify-content: center;
	text-align: center;
	padding-left: 0.25rem;
	margin-right: 0.25rem;
}

.message-button-true {
	background-color: #148567;
	border-radius: 0.25rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.message-button-true:hover {
	background-color: #298f74;
}

.message-button-true:hover {
	cursor: pointer;
}

.message-button-false {
	background-color: #222529;
}

#message-button > i {
	margin-left: 0.45rem;
}
