/* src/components/LandingPage/Gallery/GalleryMain/GalleryMain.css */

/*? Gallery Main Container */

#gm-container {
	background-color: white;
	width: 100%;
	border-radius: 0.25rem;
	box-shadow: 0 0 2px 5px #ebe2eb;
}

/** Gallery Main Figure 1 */
#gm-figure-1 {
	display: grid;
	grid-template-columns: 100%;
	margin: 0 auto;
}

.gm-figure-1-false {
	grid-template-rows: 3rem 13rem 3rem;
}

.gm-figure-1-true {
	grid-template-rows: 3rem 26rem 3rem;
}

/* Gallery Main Summary */
#gm-figure-1 > summary {
	color: black;
	display: flex;
	align-items: center;
	background-color: #ecdeec;
	width: 100%;
}

#gm-figure-1 > summary > h2 {
	width: fit-content;
	padding-left: 1rem;
	font-size: 1.125rem;
	font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI',
		Tahoma, Arial, sans-serif;
	font-weight: lighter;
}

/* Gallery Main Main */

#gm-figure-1-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.gm-figure-1-ul-true {
	overflow-y: scroll;
	height: 100%;
}

.gm-figure-1-ul-true::-webkit-scrollbar {
	width: 0.5em;
}

.gm-figure-1-ul-true::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gm-figure-1-ul-true::-webkit-scrollbar-thumb {
	background-color: #611f69;
	outline: 1px solid #9d65a3;
	border-radius: 1rem;
}

.workspace-li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1.125rem;
	font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI',
		Tahoma, Arial, sans-serif;
	transition: background-color 0.1s ease-in;
}

.workspace-li:hover {
	background-color: rgb(241, 239, 239);
}

.workspace-li:not(:last-child) {
	border-bottom: 1px solid #dddcdc;
}

.workspace-li-s1 {
	display: flex;
	width: 100%;
}

.workspace-li-figure {
	height: 5rem;
	width: 5rem;
	margin: 0.5rem 0.75rem;
}

.workspace-li-figure > img {
	object-fit: cover;
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
}

.workspace-li-figure2 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1.25rem;
	margin-left: 0.5rem;
}

.workspace-li-2 {
	display: flex;
	margin-top: 3rem;
	align-items: center;
	justify-content: center;
}

#wlf2-p1 {
	margin: 0;
	margin-bottom: 0.1rem;
	font-weight: bold;
}

.wlf2-section {
	display: flex;
	width: 100%;
	height: 1rem;
	margin-top: 0.25rem;
}

.wlf2-section-figure {
	display: flex;
	height: 100%;
	margin: 0;
}

.channel-user-img-container {
	height: auto;
	width: 1.25rem;
	margin: 0;
}

.channel-user-img-container:not(:last-child) {
	margin-right: 0.1rem;
}

.channel-user-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 0.25rem;
}

#wlf2-p2 {
	display: flex;
	align-items: center;
	height: 1rem;
	margin: 0;
	margin-left: 0.5rem;
	color: #696969;
	font-size: 0.875rem;
	line-height: 20px;
}

#wlf2-p2 > span {
	margin-left: 0.25rem;
}

.workspace-li-s2 {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
}

.workspace-li-s2-button {
	background-color: #611f69;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-family: Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI',
		Tahoma, Arial, sans-serif;
	font-weight: bold;

	padding: 1rem;
	border-radius: 4px;
	border: none;

	transition: background-color 0.1s ease-in;
}

.workspace-li-s2-button:hover {
	cursor: pointer;
	background-color: #4a154b;
}

#gm-cw-button-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#gm-cw-button {
	background-color: #4a154b;
	color: white;
	margin-right: 0.5rem;
	border: 1.5px solid white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: small;
	box-sizing: border-box;
	letter-spacing: 1.5px;
	border-radius: 0.2rem;
	padding: 0.75rem 1rem;
	transition: box-shadow 0.42s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

#gm-cw-button:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 5px rgb(0 0 0 / 0.2);
}

/* Gallery Main Footer */
#gm-figure-1 > footer {
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: flex-end;
}

#gm-figure-1 > footer > button {
	color: #2671ab;
	background-color: white;
	border: none;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

#gm-figure-1 > footer > button:hover {
	cursor: pointer;
	color: #1f679e;
}

#gm-figure-1 > footer > button > i {
	margin-left: 0.25rem;
}

/** Gallery Main Figure 2 */
