/* Main Search Bar CSS */
#search-bar-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #4a154b;
	height: 50px;
	width: 100%;
}

/* Left Bar Section CSS */
#left-bar-section {
	display: flex;
	justify-content: start;
	min-width: 80px;
	max-width: 31w;
}

/* Right Bar Section CSS */
#right-bar-section {
	display: flex;
	justify-content: end;
	min-width: 80px;
	max-width: 31w;
}

#right-section {
	display: flex;
	justify-items: center;
	align-items: center;
	position: relative;
}

#right-section > * {
	display: flex;
	margin-right: 10px;
}

#help-button {
	height: 2rem;
	width: fit-content;

	border: none;
	background-color: #4a154b;
	padding: 0 0.25rem;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.75rem;
}

.help-button-icon {
	height: 19px;
	width: 25px;
	color: white;
	opacity: 0.7;
	margin-top: 1rem;
}

/* Center Bar Section CSS */
#center-bar-section {
	display: flex;
	justify-content: start;
	align-items: center;

	height: 30px;
	width: 800px;
}

#clock-button {
	display: flex;
	justify-content: center;

	margin-right: 20px;

	width: 2rem;
	height: 2rem;

	border: none;
	border-radius: 0.25rem;
	color: black;
	background-color: #4a154b;

	padding: 1rem;
	position: relative;
}

.clock-button-icon {
	color: #cfc1cf;
	opacity: 0.95;
	margin: 0;

	position: absolute;
	bottom: 0.3rem;
}

#search-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-left: 10px;
	height: 25px;
	max-width: 100%;
	width: 100%;

	border: 1px #775378 solid;
	border-radius: 5px;
	background-color: #6d436d;
}

#search-bar:hover {
	border-color: #846985;
}

#search-text {
	display: flex;
	align-items: center;

	font-size: small;

	border: 1px black;
	opacity: 0.85;
	background-color: rgb(109, 67, 109);
	width: 100%;

	border: 0;
	outline: 0;

	color: white;
}

#search-text::placeholder {
	color: white;
}

#search-bar:hover,
#search-text:hover {
	cursor: pointer;
}

#search-buttons {
	display: flex;
}

#search-buttons > * {
	margin-right: 5px;

	border: none;
	color: white;
}

.search-buttons-slider-icon {
	opacity: 0.8;
}

.search-buttons-mg-icon {
	opacity: 0.6;
}

#rs-profile-button {
	background-color: #4a154b;
	width: 1.75rem;
	height: 1.75rem;
	padding: 0;
	border: 0;
	margin: 0;
	margin-right: 1.5rem;
}

#help-button:hover,
#clock-button:hover {
	background-color: #6d436d;
}

#rs-profile-button:hover {
	background-color: white;
	opacity: 0.9;
}

#rs-profile-button:hover,
#help-button:hover,
#clock-button:hover {
	border-radius: 0.25rem;
	cursor: pointer;
}

#rs-profile-pic:hover {
	cursor: default;
}

#rs-profile-pic {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 0.4rem;
}

.rs-profile-status {
	position: absolute;
	color: white;
	opacity: 0.9;
	bottom: 0rem;
	right: 0.3rem;
	-webkit-text-stroke: 1px white;
}
