/* Left bar side menu container

/* ______________________________________________________________ */
/* Main Container */
/* overall css for the left bar */
#left-bar-main {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 3.1rem 12rem auto auto;
	width: 100%;
	resize: horizontal;

	border-right: 1px solid #2b2a2f;
	background-color: #19171d;

	position: relative;
	height: 100%;
}

/* overall css for direct children of left bar */
#left-bar-main > * {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;

	font-size: 15.5px;
}

.fa-regular {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.fa-solid {
	display: flex;
	justify-content: center;
	width: 20px;
	margin-right: 10px;
}
.fa-plus {
	border-radius: 3px;

	color: #a4a3a6;
	background-color: #39363e;
}

/* ______________________________________________________________ */
/* Section One: Left Bar Header */
#section-one {
	display: flex;
	flex-direction: row;

	border-top: 1px solid #2b2a2f;
	border-bottom: 1px solid #2b2a2f;
	border-right: none;

	padding-top: 10px;
	padding-bottom: 10px;
}

#server-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-left: 10px;
	width: 100%;
	height: 100%;

	font-size: large;
	font-weight: bold;
	color: #d1d2d3;
}

/* Create new message buttson */
#new-message-button {
	display: flex;
	justify-items: center;
	align-items: center;

	height: 35px;
	width: 35px;
	margin-right: 10px;

	border: none;
	border-radius: 50%;
}


.fa-pen-to-square {
	display: flex;
	align-items: center;

	/* i don't know why the icon won't sit in the middle of the button - sam */
	padding-left: 7px;
	padding-bottom: 1px;
}

/* ______________________________________________________________ */
/* Section Two: New activity */
#section-two {
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 1px solid #2b2a2f;

	min-height: fit-content;
	width: 100%;
}

/* Section spacing */
.section-two-options {
	display: flex;
	flex-direction: row;

	color: #79777c;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.section-two-options:hover {
	background-color: #27242c;
}

.comment-lines {
	color: #cfc1cf;
	opacity: 0.95;
}

/* .new-notification {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 10px;
	padding-left: 7px;
	padding-right: 7px;

	font-size: xx-small;
	font-weight: bold;

	border-radius: 10px;
	background-color: #9e9ea1;
} */

/* ______________________________________________________________ */
/* Section Three (Channel List) */
#section-three {
	display: flex;
	flex-direction: column;
	margin-right: .2rem;
}

#channel-list,
#dmr-list {
	max-height: 23rem;
	overflow: auto;
}

#channel-list::-webkit-scrollbar,
#dmr-list::-webkit-scrollbar {
	width: 0.1em;
	z-index: 2;
}

#channel-list::-webkit-scrollbar-track,
#dmr-list::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#channel-list::-webkit-scrollbar-thumb,
#dmr-list::-webkit-scrollbar-thumb {
	background-color: #007a5a;
	outline: 1px solid #17a47e;
	border-radius: 1rem;
}

#channel-section {
	margin-top: 20px;
	padding-left: 10px;
	color: #79777c;
}

#channel-header {
	margin-bottom: 10px;
}

#channel-header:hover {
	cursor: pointer;
}

/* Channel header */
#channel-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

.channel-list-option,
.dmr-list-option {
	display: flex;
	align-items: center;

	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}

.channel-list-option:hover {
	background-color: #27242c;
	cursor: pointer;
}

.channel-list-option > aside > span {
	display: flex;
	align-items: center;
}

.channel-list-option,
.dmr-list-option {
	width: 98%;
}

#lock-test {
	color: #79777c;
	/* opacity: 50%; */
}

/* ______________________________________________________________ */
/* Section Four (DMR List) */
#section-four {
	display: flex;
	flex-direction: column;

	height: fit-content;
}

#dmr-section {
	margin-top: 20px;
	padding-left: 10px;
	color: #79777c;
}

/* DMR header */
#dmr-header {
	margin-bottom: 10px;
}

#dmr-header:hover,
.dmr-list-option:hover {
	cursor: pointer;
}

#dmr-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

.dmr-list-option:hover {
	background-color: #27242c;
}

#dmr-icon {
	margin-left: 3px;
	margin-right: 15px;
}

#dmr-profile-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-left: 3px;
	margin-right: 5px;
	padding: 0;
}

#dmr-profile-pic > * {
	height: 20px;
	width: 20px;
	border-radius: 0.25rem;
}


/* ______________________________________________________________ */
/* Footer */
#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	position: absolute;
	bottom: 0;
	height: 48px;
	width: 100%;

	border-top: 1px solid #2b2a2f;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	color: #79777c;
	background-color: #19171d;
}

#footer:hover {
	cursor: pointer;
}

#footer:hover * {
	color: #d1d2d3;
}

#footer:hover #communication {
	color: #d1d2d3;
	border: 1px solid #d1d2d3;
}

#footer-name {
	padding-left: 10px;
	color: #79777c;
}

#footer-button {
	display: flex;
	justify-self: center;
	align-items: center;
	height: 20px;

	margin-right: 10px;
}


#exit-lb-icon {
	color: #79777c;
}

#communication {
	display: flex;

	height: 25px;

	border: 1px solid #79777c;
	border-radius: 15px;

	background-color: #19171d;
}

.fa-headphones {
	display: flex;
	justify-content: end;

	padding-top: 4px;
	color: #79777c;
}

.fa-headphones:hover {
	color: #d1d2d3;
}
