/* src/components/StartPage/LeftSlider/LeftSlider.css */
/** Start Page Left Side Section */
#sp-ls-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 95% auto;
}

/** Start Page Left Side Main Section */
#sp-ls-section-main {
	background-color: #3f0e40;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5vh auto;
}


.sp-ls-section-main-in {
	background-color: #522653;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	max-width: 18rem;
	overflow-x: hidden;
	overflow-y: hidden;
}

.slsmi-false {
	background-color: #3f0e40;
	border-top: .02px solid rgba(233, 229, 229, 0.2);
}

.slsmi-true{
	background: #522653;
}

#slsmi-true-p{
	font-weight: bold;
}

.sp-ls-section-main-2in-true{
	font-weight: bold;
}

.sp-ls-section-main-2in-true,
#slsmi-true-p,
.splsmi-section > p,
.splsmi-ul-li {
	color: rgb(217, 215, 215);
	margin-left: 1rem;
}

.splsmi-section > p{
	margin-bottom: 0;
}

.splsmi-section > p,
.splsmi-ul-li{
	-webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  line-height: 1.46668;
}

.sp-ls-section-main-2in-false {
	width: 50%;
	height: 30%;
	background-color: #643c65;
	margin: 0;
	margin-top: 1.25vh;
	margin-left: 1.25vw;
	border-radius: 3rem;
}

#splsmi-ul {
	height: 100%;
	padding: 0;
	margin-left: 1rem;
}

.splsmi-ul-li {
	width: 100%;
	height: 1.5rem;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: .5rem;
}

.splsmi-ul-li-fig {
	width: .5rem;
	height: auto;
}

.splsmi-ul-img {
	border-radius: .25rem;
	max-height: 100%;
	max-width: 100%;
	margin-right: .5rem;
}

/** Start Page Left Side Footer Section */
#sp-ls-section-footer {
	background-color: #3f0e40;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 0.01px solid rgba(124, 122, 122, 0.6);
	width: 98%;
}

#sp-ls-section-footer-button {
	color: rgb(224, 219, 219);
	letter-spacing: 1px;
	background-color: #3f0e40;
	border: none;
	margin-left: 1rem;
	font-size: 15px;
	transition: color 0.05s ease;
}

#sp-ls-section-footer-button:hover {
	cursor: pointer;
	color: white;
}

#sp-ls-section-footer-button > i {
	margin-right: 1rem;
}
