#lnb-ul{
  list-style-type: none;
}

#nav-logo-container {
	width: 125px;
	height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 10vw;
}

#nav-logo {
	object-fit: fit;
  height: 80%;
  width: 80%
}
