#lnb-ul{
  list-style-type: none;
}

#nav-logo-container {
	width: 150px;
	height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 10vw;
}

#nav-logo {
	object-fit: fit;
  height: 100%;
  width: 100%
}
