/* Login Page section */
#lp-section {
  height: 100vh;
  width: 100vw;
  position: fixed;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5vh 10vh auto;
  justify-content: center;

  overflow-y: auto;
}

/* Top Login Page section */
#lp-top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lp-top-section>h2 {
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
  font-size: 15px;
  line-height: 1.46668;
}

/* Header Login Page section */

#lp-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lp-header-section>header {
  width: 10rem;
  height: auto;
}

#lp-header-section>header>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

figure.slackers-with-text.login{
  height: 50px;
  width: auto;
}

/* Main Login Page Section */
#lp-main-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#lp-main-section>h1 {
  font-family: Slack-Larsseit, Helvetica Neue, Helvetica, Segoe UI, Tahoma, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -.75px;
  line-height: 46px;
  margin-bottom: 10px;
  max-width: 700px;
  text-align: center;
}

#lp-main-section>h1>span {
  color: #4a154b;
}

#lp-main-section>h2 {
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
  color: #454245;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  max-width: 700px;
  text-align: center;
  font-weight: lighter;
}

#lp-main-section>h2>span {
  font-weight: bold;
}

/* Lower-Footer-Container Log In */
section#lower-footer-container.log-in{
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}
