/* Line through for line through class */
.line-through{
    text-decoration: line-through;
}

/* Underline class */
.underline{
    text-decoration: underline;
}

.rte-button {
    background: transparent;
    border: none !important;
}

/* 
placeholder text color for icons and placeholder
rgba(var(--sk_primary_foreground,29,28,29),1);

*/

.rte-field {
    background-color: #222529;
    height: 100%;
}