/* Profile Bar */
#profile-bar {
	/* background-color: #1a1d21; */
	background-color: red;
	width: 100%;
	height: 100%;
	color: white;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 87vh;
	align-items: center;
}

/* Profile Bar Header */
#profile-bar-aside-container {
	display: grid;
	grid-template-rows: 35em 11em 6.5em;
	overflow: auto;
	height: 100%;
	width: 100%;

	background-color: pink;
}

/* Profile Bar Aside Container */
