/* Message Page Main Container */
#message-page-main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3rem auto;

	height: 100vh;
}

/* Message Page Header */
#message-page-header {
	width: 100%;
}

/* Message Page Body */
#message-page-body {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 20rem auto 25vw;
	grid-template-rows: auto 13vh;
	grid-template-areas:
		'left message profile'
		'left chat profile';
}

#message-page-body > * {
	height: 100%;
	width: 100%;
}

#left-bar {
	grid-area: left;
	background-color: #19171d;
	width: 20rem;
}

#message-display {
	grid-area: message;
}

#message-sender {
	grid-area: chat;
}

#message-profile {
	grid-area: profile;
}
